<?xml version="1.0" encoding="utf-8"?>
<suite name="BUILD_TAG" verbose="1">

	<listeners>
		<listener class-name="com.automation.testng.RetryListener" />
		<listener class-name="com.automation.testng.TestListener" />
	</listeners>
	<parameter name="repo" value="REPO" />
	<!-- get PROJECTID & SUITEID from TestRail -->
	<parameter name="projectId" value="PROJECTID" />
	<parameter name="suiteId" value="SUITEID" />
	<!-- get ENV from Automation-Tests/src/test/resources/config/*.conf -->
	<parameter name="env" value="ENV" />	
	<!-- boolean UPDTESTRAIL -->
	<parameter name="updateTestRail" value="UPDTESTRAIL" />
	<!-- boolean add new run in TestRail -->
	<parameter name="addRun" value="ADDRUN" />
	<!-- update specific run in TestRail -->
	<parameter name="runId" value="RUNID" />
	<parameter name="cloudTest" value="true" />
	<!-- sauceLabs or browserStack -->
	<parameter name="cloudTestProvider" value="CLOUD_TEST_PROVIDER" />
	<!-- https://docs.saucelabs.com/reference/platforms-configurator/#/ -->
	<!-- https://www.browserstack.com/automate/java -->
	<parameter name="os" value="OS" />
	<parameter name="os_version" value="OS_VERSION" />	
	<parameter name="browser" value="BROWSER" />
	<!-- optional get DATABASE from Automation-Tests/src/test/resources/config/db.conf. Ex. db.qang1 or db.stg -->
	<parameter name="database" value="DATABASE" />
	<!-- who = login* from Automation-Tests/src/test/resources/config/*.conf -->
	<parameter name="who" value="WHO" />
	
	<test name="parallel test ENV env" parallel="methods" thread-count="10">			
		<packages>
			<!-- <package name="PACKAGE" />  -->
		</packages>
		<groups>
			<run>
				<include name="INCLUDEGROUPS" />
				<exclude name="EXCLUDEGROUPS" />
				<exclude name="Sequential" />
			</run>
		</groups>				
		<classes>
			<class name="CLASS" />
			<methods>
				<include name=".*" />
			</methods>
		</classes>
	</test>
</suite>
